@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1E2226;
}

.nameText {
  animation-duration: 5s;
  animation-name: jacksonleb;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.courseworkText {
  animation-duration: 5s;
  animation-name: coursework;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.courseworkRotationPoint {
  animation-duration: 5s;
  animation-name: courseworkRotationPoint;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.sunText {
  bottom: 100px;
  left: 40px;
}

.header {
  font-family: "Apple SD Gothic Neo";
}


@keyframes jacksonleb {
  0%{
    transform: rotate(0);
    transform-origin: bottom left;
  }
  100%{
    transform: rotate(360deg);
    transform-origin: bottom left;
  }
}

.courseworkPlanet {
  left: -185px;
  top: -145px;
}

.courseworkRotationPoint {
  left: -105px;
  top: 15px;
}


@keyframes coursework {
  0%{
    transform: rotate(0);
    transform-origin: right;
  }
  100%{
    transform: rotate(360deg);
    transform-origin: right;
  }
}

@keyframes courseworkRotationPoint {
  0%{
    transform: rotate(0);
    transform-origin: center;
  }
  100%{
    transform: rotate(360deg);
    transform-origin: center;
  }
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



