@tailwind base;
@tailwind components;
@tailwind utilities;

.homePage {
  width: 100vw;
  height: 100vh;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  z-index: 99;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.headerMain {
  display: inline;
}
.headerMain:hover{
  color: white;
}

h1:hover ~ h3{
  color: white;
}

.sun {
  width: 200px;
  height: 200px;
  position: relative;
  text-align: center;
}

.profilePic {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}


.aboutPlanet {
  width: 260px;
  height: 260px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -25%);
  animation: aboutPlanetOrbit 15s infinite linear;   
  border: 1px solid #4B52ED;
  border-radius: 50%;
}

.aboutIcon {
  width: 40px;
  height: 40px;
  transform: translate(100%, 15%);
  position: relative;
  text-align: center;
  color: #4B52ED;
}

.aboutIcon:hover {
  opacity: 0.5;
}

.experiencePlanet {
  width: 440px;
  height: 440px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -33%);
  animation: experiencePlanetOrbit 25s infinite linear;   
  border: 1px solid #4B52ED;
  border-radius: 50%;
  text-align: center;
}

.rocketIcon {
  width: 40px;
  height: 40px;
  left: 80%;
  top: 10%;
  position: relative;
  text-align: center;
  color: #4B52ED;
}

.rocketIcon:hover {
  opacity: 0.5;
}

.projectsPlanet {
  width: 615px;
  height: 615px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -39%);
  animation: projectsPlanetOrbit 35s infinite linear;   
  border: 1px solid #4B52ED;
  border-radius: 50%;
  text-align: center;
}

.meteorIcon {
  width: 40px;
  height: 40px;
  left: 80%;
  top: 10%;
  position: relative;
  text-align: center;
  color: #4B52ED;
}

.meteorIcon:hover {
  opacity: 0.5;
}


@keyframes aboutPlanetOrbit {
  0% {
    transform: translate(-50%, -25%) rotate(-360deg);
  }
}

@keyframes experiencePlanetOrbit {
  0% {
    transform: translate(-50%, -33%) rotate(360deg);
  }
}

@keyframes projectsPlanetOrbit {
  0% {
    transform: translate(-50%, -39%) rotate(-360deg);
  }
}

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
  from {background-position: 0;}
  to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}

/*
Shoutout to this guy on Codepen for the awesome star graphics
*/
.stars {
background: transparent url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
z-index: 0;
}

.statsBar {
  width: 90%;
  height: 15%;
  margin-left: 5%;
  margin-right: 5%;
}

.repoHeader {
  width: 90%;
  height: 270px;
  margin-left: 5%;
  margin-right: 5%;
}

.githubPic {
  height: 15%;
  width: 15%;
}

.githubPic:hover {
  opacity: 0.75;
}

.projectsHeader {
  text-align: center;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}