@tailwind base;
@tailwind components;
@tailwind utilities;

.homePage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sun {
  width: 200px;
  height: 200px;
  position: relative;
  text-align: center;
}

.profilePic {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.aboutPlanet {
  width: 320px;
  height: 320px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -25%);
  animation: aboutPlanetOrbit 20s infinite linear;
  border: .1px solid white;
  border-radius: 50%;
}

.aboutIcon {
  width: 20px;
  height: 20px;
  transform: translate(400%, 15%);
  position: relative;
  text-align: center;
}




@keyframes aboutPlanetOrbit {
  0% {
    transform: translate(-50%, -25%) rotate(-360deg);
  }
}





code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



